table tr td h3 {
   font-weight: bold;
   color:#1D127A;
   letter-spacing: 1px;
}

.contrato{
   font-size: 18px !important;
}

.row{
   margin-bottom: 1rem;
}

select{
   height: 2rem;

   &.seleccion-multiple{
      height: 8rem;
   }
}

*{
   font-size: 14px;
}