<app-navegacion></app-navegacion>
<app-cargando *ngIf="cargando"></app-cargando>
<div class="container-fluid px-5 py-5">
   <div class="row justify-content-center clientes">
        <!-- <app-loading *ngIf="processing"></app-loading> -->
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-12">
            <div class="search-container">
                <div class="row">
                    <form id="formaSearchClientes" class="formSearch"> 
                        <div class="row">
                            <div class="form-group col-6 col-sm-2 col-md-3 col-lg-3 col-xl-3 my-input">
                                <label for="">Autor</label>
                                    <input name="identificacionSearch">
                            </div>
                            <div class="form-group col-6 col-sm-2 col-md-3 col-lg-2 col-xl-3 my-input">
                                <label for="">Contrato</label>
                                <input name="clienteSearch">
                            </div> 
                            <div class="form-group col-6 col-sm-2 col-md-3 col-lg-2 col-xl-3 my-input">
                                <label for="">Actividad</label>
                                <input name="clienteSearch">
                            </div>                          

                            <div class="form-group col-12 col-sm-4 col-md-3 col-lg-4 col-xl-2 buttons search">
                                <button type="submit" class="btn success-button btn-searchs" id="buscar"
                                    >Buscar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row d-flex pt-5">
                <div class="card col-3" *ngFor="let item of cloudFiles | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
                   <img class="card-img-top"  [src]="item.url" width="267" height="200" alt="Card image cap">
                   <div class="card-body">
                      <h5 class="card-title">Imagen ejemplo</h5>
                      <p class="card-text"></p>
                      <button 
                         *ngIf="!item.add" 
                         class="btn btn-primary"
                         (click)="agregarItem(item)">
                             Agregar
                     </button>
 
                     <button 
                         *ngIf="item.add" 
                         class="btn btn-danger"
                         (click)="quitarItem(item)">
                             Quitar
                     </button>
                   </div>
                </div>
            </div>
            <!--Including the pagination control.-->
            <div class="d-flex flex-row-reverse mt-4">
                <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
            </div>
            <button type="button" class="btn btn-success m-2"
                (click)="descargaPlantillaGeneral()">
                    Plantilla General
            </button>
            <button type="button" class="btn btn-success m-2"
                (click)="descargaPlantillaContrato()">
                    Plantilla Contrato
            </button>
        </div>
    </div>
</div>
