<app-navegacion></app-navegacion>
<app-cargando *ngIf="cargando"></app-cargando>
<div class="container-fluid px-5 py-5">
   <div class="row justify-content-center clientes">
        <!-- <app-loading *ngIf="processing"></app-loading> -->
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-12">
            <div class="search-container">
                <div class="row">
                    <form id="formaSearchClientes" class="formSearch"> 
                        <div class="row">
                            <div class="form-group col-3 my-input">
                                <label class="form-group col-12" for="">Contrato</label>
                                <input 
                                    class="col-12" 
                                    style="height:2.5rem;"
                                    name="identificacionSearch"
                                    (click)="buscarContrato()"
                                    [(ngModel)]="contratoElegido"
                                    >
                            </div>

                            <div class="form-group col-3 my-input">
                                <label class="form-group col-12" for="">Sector</label>
                                <select class="col-12" name="sector" style="height:2.5rem;" [(ngModel)]="idSectorElegido" (ngModelChange)="actualizarActividades($event)">
                                    <option style="height:2.5rem;" [ngValue]="c.id" *ngFor="let c of arraySectores">
                                        {{c.nombre_sector}}
                                    </option>
                                </select>
                            </div> 

                            <div class="form-group col-3 my-input">
                                <label class="form-group col-12" for="">Actividad</label>
                                <select class="col-12" name="actividad" style="height:2.5rem;" [(ngModel)]="idActividadElegida" (ngModelChange)="actualizarActividades($event)">
                                    <option style="height:2.5rem;" [ngValue]="c.id_actividad" *ngFor="let c of arrayActividades">
                                        {{c.texto_descripcion}}
                                    </option>
                                </select>
                            </div>                          

                            <div class="form-group col-2 buttons search mt-3">
                                <button type="submit" class="btn success-button btn-searchs mt-1" id="buscar" (click)="buscarImagenes()"
                                    >Buscar
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-3 my-input">
                                <label class="form-group col-12" for="">Fecha inicial</label>
                                <input 
                                    class=""
                                    type="text"
                                    style="height:2.5rem;" 
                                    mwlFlatpickr 
                                    name="fechaInicial"
                                    [(ngModel)]="fechaInicial" 
                                    dateFormat="Y-m-d"
                                    readonly>
                            </div>
                            <div class="form-group col-3 my-input">
                                <label class="form-group col-12" for="">Fecha final</label>
                                <input
                                    class=""
                                    type="text"
                                    style="height:2.5rem;"
                                    mwlFlatpickr
                                    name="fechaFinal"
                                    [(ngModel)]="fechaFinal"
                                    dateFormat="Y-m-d"
                                    readonly>
                            </div>

                            <div class="form-group col-1 buttons search mt-3">
                                <button type="submit" class="btn success-button btn-searchs mt-1" id="buscar" (click)="filtrarPorFechas()">
                                    Buscar
                                </button>
                            </div>

                            <div class="form-group col-2 buttons search mt-3">
                                <button type="submit" class="btn danger-button btn-searchs mt-1" id="buscar" (click)="limpiarFechas()">
                                    Limpiar fechas
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row d-flex pt-5">
                <div class="card col-3" *ngFor="let item of cloudFiles | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
                    <div *ngIf="!item.hidden">
                        <img class="card-img-top"  [src]="item.url" height="450" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">
                                Autor: {{item.datos.usuario}}
                            </p>
                            <p class="card-text">
                                Fecha de la foto: {{item.datos.fecha}}
                            </p>
                            <button 
                                *ngIf="!item.add" 
                                class="btn btn-primary"
                                (click)="agregarItem(item)">
                                    Agregar
                            </button>
        
                            <button 
                                *ngIf="item.add" 
                                class="btn btn-danger"
                                (click)="quitarItem(item)">
                                    Quitar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row-reverse mt-4">
                <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
            </div>
            <button type="button" class="btn btn-success m-2"
                (click)="descargaPlantillaGeneral()">
                    Plantilla General
            </button>
            <button type="button" class="btn btn-success m-2"
                (click)="descargaPlantillaContrato()">
                    Plantilla Contrato
            </button>
        </div>
    </div>
</div>
