<app-alerta [message]="mensaje" [codigo]="codigoRespuestaHttp" *ngIf="mostrarMensaje"></app-alerta>
<div>
   <div *ngFor="let sector of arraySectores">
      <div class="card mx-5 my-3">
         <h5 class="card-header">Nombre del Sector:
            <input type="text" [(ngModel)]="sector.nombre_sector">
         </h5>
         <div class="card-body">
            <h5 class="card-title">Zona Referencial:
               <select class="row col-5" name="Ubicacion" id="Ubicacion" [(ngModel)]="sector.sector_data.id_sector">
                  <option [ngValue]="c.id_sector" *ngFor="let c of UbicacionList">
                     {{c.ciudad}} - {{c.zona_ciudad}}
                  </option>
               </select>
            </h5>
            <div class="row col-12 my-3">
               <label class="row col-4" for="firstname">Sector del Contrato Habilitado</label>
               <input class="row col-1" type="checkbox" [(ngModel)]="sector.contratoXSectorActivo">
            </div>
            <div class="row">
               <div class="col-4">
                  <p class="card-text">Fiscalizador(es): </p>
                  <select class="row seleccion-multiple col-12" multiple="multiple" [(ngModel)]="sector.usuarios_fiscalizadores">
                        <option [ngValue]="c.id" *ngFor="let c of arrayFiscalizadores">
                           {{c.apellidos}} {{c.nombres}}
                        </option>
                  </select>
               </div>

               <div class="col-4">
                  <p class="card-text">Supervisor(es): </p>
                  <select class="row seleccion-multiple col-12" multiple="multiple" [(ngModel)]="sector.usuarios_supervisores">
                     <option [ngValue]="c.id" *ngFor="let c of arraySupervisores">
                        {{c.apellidos}} {{c.nombres}}
                     </option>
                  </select>
               </div>

               <div class="col-4">
                  <p class="card-text">Actividad(es): </p>
                  <select class="row seleccion-multiple col-12" multiple="multiple" [(ngModel)]="sector.actividades">
                     <option [ngValue]="c.id_actividad" *ngFor="let c of ActividadesList">
                        {{c.texto_descripcion}}
                     </option>
                  </select>
               </div>
            </div>
            <div class="form-group row col-4 d-flex justify-content-center buttons search my-2">
               <button class="btn btn-info" (click)="actualizarSector(sector)">
                  Actualizar Sector
               </button>
            </div>
         </div>
      </div>
   </div>

   <div class="row col-12 d-flex justify-content-around my-4">
      <div class="form-group row col-4 d-flex justify-content-centerbuttons search">
         <button class="btn btn-info" (click)="closeModal()">
            Salir
         </button>
      </div>
   </div>
</div>